<extend name="Index/index" />
<block name='main'>
	<div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登入</li>
        <li><a href="{:U('User/register')}">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post" action="{:U('User/log_in')}">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label" style="color: #333;">昵称</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="nickname" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label" style="color: #333;">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <input type="hidden" value="{$backurl}" name="back">
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" type="submit">立即登录</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</block>
<block name='right'></block>
<block name='login'></block>