<extend name="Index/index" />
<block name='main'>
<div class="fly-panel fly-panel-user" pad20>
  <div class="layui-tab layui-tab-brief" lay-filter="user">
    <ul class="layui-tab-title">
      <li><a href="{:U('User/login')}">登入</a></li>
      <li class="layui-this">注册</li>
    </ul>
    <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
      <div class="layui-tab-item layui-show">
        <div class="layui-form layui-form-pane">
          <form action="{:U('User/reg')}" method="post">
            <div class="layui-form-item">
              <label for="L_username" class="layui-form-label" style="color: #333;">昵称</label>
              <div class="layui-input-inline">
                <input type="text" id="L_username" name="nickname" required lay-verify="required" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label" style="color: #333;">密码</label>
              <div class="layui-input-inline">
                <input type="password" id="L_pass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label" style="color: #333;">确认密码</label>
              <div class="layui-input-inline">
                <input type="password" id="L_repass" name="checkpass" required lay-verify="required" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label" style="color: #333;">手机号码</label>
              <div class="layui-input-inline">
                <input type="text" id="" name="phone" required lay-verify="required" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <button class="layui-btn" type="submit">立即注册</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</block>
<block name='right'></block>
<block name='login'></block>


